<div class="body bg-white">
    <div class="container d-flex flex-column py-4">
        <span class="border-top"></span>

        <div class="row w-100 d-flex py-5 ">
            <div class="col-4 ">
                <img src="./assets/img/2.jpg" class="rounded-circle img-fluid" alt="Second heading img" >
            </div>
            <div class="col-8 ">   
                <h1 class="mb-3 ">The Second Heading <span class="text-secondary">Is Pretty Cool</span></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus id saepe repudiandae, odit provident voluptate beatae architecto autem voluptatum reiciendis praesentium ab, iste ut voluptates. Saepe recusandae sed suscipit tempora.</p>
            </div>
           
        </div>

        <span class="border-bottom"></span>
    </div>
</div>    